:root {
  --color-one: #e5ab47;
  --color-text: #573d1c;
  --color-background: #fffdf9;

  --font-text: AnonymousPro-Bold;
}
:global {
  body,
  html {
    font-family: Anonymous Pro;
    color: var(--color-text);
    background-color: #f2f2f2;
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  *:focus {
    outline: none;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    color: var(--color-text);
  }
}

.BeerRatingApp {
  background-color: var(--color-background);
  max-width: 1024px;
  margin: 0 auto;
}
