.BeerRack {
  margin-top: 2rem;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.Thumbnail {
  border: 1px solid var(--color-text);
  cursor: pointer;

  // http://jsfiddle.net/webtiki/MpXYr/2/
  width: 12%;
  padding-bottom: 12%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    border: 1px solid var(--color-one);
  }
}
