.BeerRack {
  margin-top: 2rem;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.Thumbnail {
  cursor: pointer;
  // box-sizing: border-box;

  // http://jsfiddle.net/webtiki/MpXYr/2/
  // width: 12%; // calc(12% - 1px);
  // padding-bottom: 12%; // calc(12% - 1px);
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .ThumbnailBorder {
    height: 100%;
    width: 100%;

    border: 0.5px solid var(--color-text);
    background-color: rgba(var(--color-background-rgb), 0.4);

    &.Active,
    &:hover {
      background-color: transparent;
      border: 3px solid var(--color-one);
    }
  }
}
