.Beer {
  padding-top: 2rem;
}

.Img {
  margin-right: 3rem;

  img {
    max-width: 18rem;
    border: 1px solid var(--color-text);
  }
}

.Description {
  display: flex;

  h1 {
    font-family: Anton;
    line-height: 1;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: lowercase;
    margin-bottom: 1.5rem;
  }
}

.DescriptionTitle {
  display: flex;

  border-bottom: 4px solid var(--color-one);
  margin-bottom: 2rem;
  h1 {
    color: var(--color-one);
    letter-spacing: 4.6px;
    line-height: 1;
    font-size: 2rem;
    font-family: Anton;
    font-weight: normal;
  }
  h3 {
    align-self: flex-end;
    font-family: Anton;
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;

    margin-left: 1rem;
  }
}

.Shops {
  margin-bottom: 1.5rem;
}

.Rating {
  text-transform: lowercase;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;

  .Author {
    font-weight: bold;
  }

  .Comment {
    font-style: italic;
  }
}

.Shop {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 0.5rem;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
